{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Kadosh</title>
    <!-- CDN Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.2.1/sketchy/bootstrap.min.css" rel="stylesheet" integrity="sha384-Yr9hLdz4zKsdMcB2IUf0I2Y+KFalEfJez2d0H2rgQoAYjvm/mzbm2egxZ9Gc9kkg" crossorigin="anonymous">
    <link href="{% static 'css/estilo.css' %}" rel="stylesheet" type="text/css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js" integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP" crossorigin="anonymous"></script>
    <script src="{% static 'json/script.js' %}"></script>
</head>
<body>
    <header class = "navbar navbar-expand-lg navbar-dark bg-dark">
        <div style="width: 100%;">
        <div id="bann"></div>
        <div id="com">
        <div style="float:left">
            <button onclick="elmenu()" type="button" class="btn btn-outline-primary"> <span class = "navbar-toggler-icon"> </span> </button>
            <a class="navbar-brand" href="{% url "base" %}"> KADOSH </a>
        </div>
        <div style="float:right">
            <strong id="name" class="col-form-label col-form-label-lg"> Administrador </strong>
            <button type="button" class="btn btn-danger">Cerrar Sesion</button>
        </div>
        </div>
        </div>
    </header>
    <!-- NavBar -->
        <div id="menu" class = "navbar navbar-expand-lg navbar-dark bg-dark">
            <ul>      
                <a href="{% url "products-create" %}"><button type="button" class="btn btn-primary">Productos</button></a>
                <a href="{% url "sales-create" %}"><button type="button" class="btn btn-primary">Ventas</button></a>
                <a href="{% url "inventory-list" %}"><button type="button" class="btn btn-primary">Inventario</button></a>
                <a href="{% url "expenses-list" %}"><button type="button" class="btn btn-primary">Gastos</button></a>
                <a href="#"><button type="button" class="btn btn-primary">Usuarios</button></a>
                <a href=""><button type="button" class="btn btn-primary">About</button></a>
            </ul>
        </div>
        <div id="estad" class="jumbotron">
            <h1> GRAFICAS </h1>
        </div>
        <main id="contenido" class="jumbotron">
        <div style="margin-left: 40px;">
            <div class="container">
                {% block section %}
                {% endblock section %}
            </div><hr>
            <div class="container">
                {% block maincontent %}
                {% endblock maincontent %}
            </div><hr><hr>
            <div class="container">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        </main>
        
</body>
</html>