{% extends 'base.html' %}

{% load static %}

{% block section %}
	<h1>Inventario</h1>
	<form action="/almacen/buscar/" method="POST">{% csrf_token %}
		<div class="form-group row">
			<label style="margin-right: 10px">Codigo:</label>
            <select style="width: 80px;" class="form-control" name="cod">
                <option></option>
			    <option>K10</option>
			    <option>K15</option>
			    <option>K20</option>
			    <option>K25</option>
			    <option>K30</option>
            </select>
            
            <label style="margin-right: 10px; margin-left: 20px;">Fecha:</label>
			<input style="width: 25%;" type="date" class="form-control" name="date">
			<button style="margin-left: 20px;" type="submit" class="btn btn-primary">Filtrar</button>
		</div>
	</form>
{% endblock section %}

{% block maincontent %}
<h2>Productos</h2>
  	<div class="row well">
		<table class="table table-hover">
			<thead>
				<tr id="head" class="table-dark" style="text-align: center;">
					<th scope="col">Codigo</th>
					<th scope="col">Cantidad</th>
					<th scope="col">Valor Unitario</th>
					<th scope="col">Total</th>
					<th scope="col">Fecha</th>
					<th scope="col">Gestionar</th>
				</tr>
			</thead>
			<tbody>
			{% if producto %}
 				{% for producto in producto %}
		 		<tr class="table-info" style="border-bottom: 2px solid; text-align: center ">
					<th scope="row">{{ producto.cod }}</th>
					<td>{{ producto.amoutn }}</td>
					<td>{{ producto.unitv }}</td>
					<td>{{ producto.total }}</td>
					<td>{{ producto.date }}</td> 
					<td><a href="{% url "products-update" producto.id %}">
							<button style="padding: 0;" type="button" class="btn btn-warning">Editar</button>
						</a>
						<a href="{% url "products-delete" producto.id %}">
							<button style="padding: 0;" type="button" class="btn btn-danger">Eliminar</button>
						</a>
					</td>
				</tr>
                {% endfor %}
			{% else %}	
			</tbody>
		</table>
		<h1 style="padding-left: 10%">No hay registros</h1>
			{% endif %}
			</tbody>
		</table>
	</div> 

	<div class="pagination" style="width: 100%">
		<span class="step-links" style="margin-left: auto; margin-right: auto;">
			{% if producto.has_previous %}
				<a href="?page=1" class="btn btn-success"> <<< Pagina 1</a>
				<a href="?page={{ producto.previous_page_number }}" class="btn btn-info"> << Anterior </a>
			{% endif %}
	
			<span class="current">
				Pagina {{ producto.number }} de {{ producto.paginator.num_pages }}.
			</span>
	
			{% if producto.has_next %}
				<a href="?page={{ producto.next_page_number }}" class="btn btn-info">Siguiente >> </a>
				<a href="?page={{ producto.paginator.num_pages }}" class="btn btn-success">Ultimo >>> </a>
			{% endif %}
		</span>
	</div>

{% endblock maincontent %}

{% block content %}
<h2>Ventas</h2>
<div class="row well">
	<table class="table table-hover">
		<thead>
			<tr id="head" class="table-dark" style="text-align: center;">
				<th scope="col">Codigo</th>
				<th scope="col">Precio</th>
				<th scope="col">Fecha</th>
				<th scope="col">Gestionar</th>
			</tr>
		</thead>
		<tbody>
		{% if ventas %}
			 {% for ventas in ventas %}
			 <tr class="table-info" style="border-bottom: 2px solid; text-align: center ">
				<th scope="row">{{ ventas.cod }}</th>
				<td>{{ ventas.unitv }}</td>
				<td>{{ ventas.date }}</td> 
				<td><a href="{% url "sales-update" ventas.id %}">
						<button style="padding: 0;" type="button" class="btn btn-warning">Editar</button>
					</a>
					<a href="{% url "sales-delete" ventas.id %}">
						<button style="padding: 0;" type="button" class="btn btn-danger">Eliminar</button>
					</a>
				</td>
			</tr>
			{% endfor %}
		{% else %}	
		</tbody>
	</table>
	<h1 style="padding-left: 10%">No hay registros</h1>
		{% endif %}
		</tbody>
	</table>
 </div>

 <div class="pagination" style="width: 100%">
	<span class="step-links" style="margin-left: auto; margin-right: auto;">
		{% if ventas.has_previous %}
			<a href="?page=1" class="btn btn-success"> <<< Pagina 1</a>
			<a href="?page={{ ventas.previous_page_number }}" class="btn btn-info"> << Anterior </a>
		{% endif %}

		<span class="current">
			Pagina {{ ventas.number }} de {{ ventas.paginator.num_pages }}.
		</span>

		{% if ventas.has_next %}
			<a href="?page={{ ventas.next_page_number }}" class="btn btn-info">Siguiente >> </a>
			<a href="?page={{ ventas.paginator.num_pages }}" class="btn btn-success">Ultimo >>> </a>
		{% endif %}
	</span>
</div>

{% endblock %}