{% extends 'base.html' %}

{% load static %}
{% load filter %}

{% block section %}
 	<h1>Inventario</h1>
{% endblock section %}

{% block maincontent %}
<h2>Productos</h2>
  	<div class="row well">
		<table class="table table-hover">
			<thead>
				<tr id="head" class="table-dark" style="text-align: center;">
					<th scope="col">Codigo</th>
					<th scope="col">Descripción</th>
					<th scope="col">Cantidad</th>
					<th scope="col">Valor Unitario</th>
					<th scope="col">Total</th>
					<th scope="col">Fecha</th>
					<th scope="col">Gestionar</th>
				</tr>
			</thead>
			<tbody>
			{% if products %}
 				{% for products in products %}
		 		<tr class="table-info" style="border-bottom: 2px solid; text-align: center ">
					<th scope="row">{{ products.cod }}</th>
					<td>{{ products.description }}</td>
					<td>{{ products.amoutn }}</td>
					<td>{{ products.unitv }}</td>
					<td>{{ products.total|filtro }}</td>
					<td>{{ products.date }}</td> 
					<td><a href="{% url "products-update" products.id %}">
							<button style="padding: 0;" type="button" class="btn btn-warning">Editar</button>
						</a>
						<a href="{% url "products-delete" products.id %}">
							<button style="padding: 0;" type="button" class="btn btn-danger">Eliminar</button>
						</a>
					</td>
				</tr>
				{% endfor %}
			{% else %}	
			</tbody>
		</table>
		<h1 style="padding-left: 10%">No hay registros</h1>
			{% endif %}
			</tbody>
		</table>
	</div> 
{% endblock maincontent %} 

{% block content %}
<h2>Ventas</h2>
<div class="row well">
	<table class="table table-hover">
		<thead>
			<tr id="head" class="table-dark" style="text-align: center;">
				<th scope="col">Codigo</th>
				<th scope="col">Precio</th>
				<th scope="col">Fecha</th>
				<th scope="col">Gestionar</th>
			</tr>
		</thead>
		<tbody>
		{% if sales %}
			 {% for sales in sales %}
			 <tr class="table-info" style="border-bottom: 2px solid; text-align: center ">
				<th scope="row">{{ sales.cod }}</th>
				<td>{{ sales.unitv }}</td>
				<td>{{ sales.date }}</td> 
				<td><a href="{% url "sales-update" sales.id %}">
						<button style="padding: 0;" type="button" class="btn btn-warning">Editar</button>
					</a>
					<a href="{% url "sales-delete" sales.id %}">
						<button style="padding: 0;" type="button" class="btn btn-danger">Eliminar</button>
					</a>
				</td>
			</tr>
			{% endfor %}
		{% else %}	
		</tbody>
	</table>
	<h1 style="padding-left: 10%">No hay registros</h1>
		{% endif %}
		</tbody>
	</table>
 </div>
{% endblock %}